<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container">
        <p>Hello {{user.name}}</p>
        <p>Your age is {{user.age}}</p>
    </div>
</body>
</html>
